<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
 <% } %>
</table><P>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a> 

<form method="get" action="/busqueda">
   <input type="text" name="busqueda" placeholder="Búsqueda de preguntas"/>
   <input type="submit" value="Enviar">
</form>

